<div class="uk-panel uk-panel-box uk-panel-box-tickets uk-margin-large-top">
  <div class="uk-border-circle uk-panel-box-tickets-circle circle-left"></div>
  <div class="uk-border-circle uk-panel-box-tickets-circle circle-right"></div>
  <div class="uk-panel-box-tickets-inner">
    <div class="uk-panel-box-tickets-inner-content">
      <div class="uk-grid uk-grid-divider" ng-hide="data.paid" data-uk-grid-match>
        <div class="uk-width-1-2">
          <div class="uk-padding-top uk-padding-bottom">
            <h3 class="uk-panel-title">{{data.static.product.name}}</h3>
            <div class="uk-grid uk-grid-small uk-grid-width-1-1 uk-grid-width-medium-1-2" data-uk-grid-margin>
              <div>
                {{data.static.product.price|amount}}
              </div>
              <div ng-show="!data.toPay">
                <select name="product_quantity" ng-model="data.dynamic.quantity" ng-options="n for n in data.maxQuantity"></select>
              </div>
              <div class="uk-text-bold" ng-show="data.toPay">
                {{data.dynamic.quantity}}
              </div>
              <div>
                Payment method
              </div>
              <div ng-show="!data.toPay">
                <select ng-model="data.dynamic.paymentMethod" ng-options="method for method in data.static.paymentMethods">
                  <option value="">--</option>
                </select>
              </div>
              <div class="uk-text-bold" ng-show="data.toPay">
                {{data.dynamic.paymentMethod}}
              </div>
              <div class="uk-text-bold uk-width-1-1" ng-show="!data.toPay">
                Total: {{data.total|amount}}
              </div>
              <div class="uk-text-bold uk-width-1-1" ng-show="data.toPay">
                Total (with costs): {{data.totalCosts|amount}}
              </div>
              <div class="uk-width-1-1 spinner-container" ng-show="toConfirm() && !data.toPay">
                <button class="uk-button uk-button-primary" ng-click="confirm()" ng-disabled="data.confirming">Confirm</button>
              </div>
              <div class="uk-width-1-1" ng-show="data.toPay">
                <button class="uk-button uk-button-primary" ng-click="pay()">Pay</button>
                <button class="uk-button" ng-click="cancel()">Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="uk-width-1-2">
          <div class="uk-padding-top uk-padding-bottom">
            <div class="uk-grid uk-grid-small uk-grid-width-1-2" data-uk-grid-margin>
              <div class="uk-width-1-1">
                <span class="uk-display-block uk-width-1-1 uk-text-bold">This ticket belogns to:</span>
                <div class="uk-grid uk-grid-small uk-grid-width-1-2" data-uk-grid-margin>
                  <div>
                    <input class="uk-width-1-1" type="text" name="first_name" placeholder="First name" ng-model="data.dynamic.profile.first_name" required />
                  </div>
                  <div>
                    <input class="uk-width-1-1" type="text" name="last_name" placeholder="Last name" ng-model="data.dynamic.profile.last_name" required />
                  </div>
                </div>
              </div>
              <div>
                <input class="uk-width-1-1" type="text" name="date_of_birth" placeholder="Birth date" ng-model="data.dynamic.profile.date_of_birth" data-uk-datepicker="{format:'YYYY-MM-DD'}" required />
              </div>
              <div>
                <input class="uk-width-1-1" type="text" name="address" placeholder="Address" ng-model="data.dynamic.profile.address" required />
              </div>
              <div>
                <input class="uk-width-1-1" type="text" name="zipcode" placeholder="Zipcode" ng-model="data.dynamic.profile.zipcode" required />
              </div>
              <div>
                <input class="uk-width-1-1" type="text" name="city" placeholder="City" ng-model="data.dynamic.profile.city" required />
              </div>
              <div>
                <input class="uk-width-1-1" type="email" name="email" placeholder="Email" ng-model="data.dynamic.profile.email" required />
              </div>
              <div>
                <div class="uk-grid uk-grid-small uk-grid-width-1-2" data-uk-grid-margin>
                  <div>
                    <select class="uk-width-1-1" ng-model="data.dynamic.profile.country_code" ng-options="country for country in data.static.countries">
                      <option value="">Country</option>
                    </select>
                  </div>
                  <div>
                    <select class="uk-width-1-1" name="gender" ng-model="data.dynamic.profile.gender">
                      <option value="">Gender</option>
                      <option value="1">male</option>
                      <option value="2">female</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-width-1-1" ng-show="data.paid">
        We are processing your payment. If everything is ok, you will receive an email with your tickets!
        <button type="button" class="uk-button" ng-click="orderMore()">Order more!</button>
      </div>
    </div>
  </div>
</div>
