<div id="feature" class="block-large bg-dark">
    <div class="uk-container uk-container-center">
        <section class="feature uk-text-center text-contrast uk-text-large">
            <p>PyGrunn is the "Python and friends" conference with<br />a local footprint and global mindset. Firmly rooted<br />in the open source culture, it aims to provide the<br />leading lights in advanced internet technologies, a<br />platform to inform, inspire and impress their peers.</p>
            <p class="uk-margin-large-top">For all the latest info join our community on:</p>
            <div class="social">
                <a class="uk-icon-google-plus-square uk-vertical-align-middle uk-icon-small" href="https://plus.google.com/u/0/communities/100366363140062149195" title="Join us on Google Plus" target="_blank"></a>
                <a class="uk-icon-twitter-square uk-vertical-align-middle uk-icon-small" href="https://twitter.com/PyGrunn" title="Follow us on Twitter" target="_blank"></a>
                <a class="uk-icon-linkedin-square uk-vertical-align-middle uk-icon-small" href="https://www.linkedin.com/groups?gid=4197937" title="Join us on Linkedin" target="_blank"></a>
            </div>
        </section>
    </div>
</div>
