<div class="headerbar with-shadow">
    <nav class="uk-navbar with-border">
        <div class="uk-container uk-container-center">
            <div class="uk-clearfix">
                <a class="logo uk-float-left uk-display-block" data-uk-smooth-scroll style="background-image: url('/theme/images/logos/pygrunn_logo_{{ PYGRUNN_YEAR }}.png');"></a>
                <div class="uk-navbar-flip uk-visible-large">
                    <ul class="uk-navbar-nav" data-uk-scrollspy-nav="{smoothscroll: {closest: 'li', offset: 81}}">
                        <li class="uk-hidden"><a href="#fullscreen"></a></li>
                        <li><a href="#speakers">speakers</a></li>
                        <li><a href="#movies">movies</a></li>
                        <li><a href="#location">location</a></li>
                        <li><a href="#tickets">t-shirts</a></li>
                        <li><a href="#schedule">schedule</a></li>
                        <li><a href="#sprints">sprints</a></li>
                        <li><a href="#rfp">rfp</a></li>
                        <li><a href="#sponsor">sponsor</a></li>
                        <li><a href="#about">about</a></li>
                    </ul>
                </div>
                <a class="uk-navbar-toggle uk-navbar-flip uk-hidden-large" data-uk-toggle="{target:'#offcanvasmenu'}"></a>
                <div id="offcanvasmenu" class="uk-hidden uk-hidden-large">
                    <div class="uk-offcanvasmenu-bar">
                        <ul class="uk-navbar-nav" data-uk-scrollspy-nav="{smoothscroll: {closest: 'li', offset: 81}}">
                            <li class="uk-hidden"><a href="#fullscreen"></a></li>
                            <li><a href="#speakers">speakers</a></li>
                            <li><a href="#movies">movies</a></li>
                            <li><a href="#location">location</a></li>
                            <li><a href="#tickets">t-shirt</a></li>
                            <li><a href="#schedule">schedule</a></li>
                            <li><a href="#sprints">sprints</a></li>
                            <li><a href="#rfp">rfp</a></li>
                            <li><a href="#sponsor">sponsor</a></li>
                            <li><a href="#about">about</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
