<div id="location" class="block">
    <div class="uk-container uk-container-center">
        <section class="location">
            <div class="uk-text-center"><i class="uk-icon-location-arrow uk-icon-large uk-icon-heading"></i></div>
            <h1 class="uk-text-center uk-heading-large">Location</h1>
            <div class="uk-grid uk-grid-width-small-1-1 uk-grid-width-medium-1-2 uk-grid-width-large-1-2 uk-margin-large-top">
                <div class="uk-text-justify">
                    <p>PyGrunn {{ PYGRUNN_YEAR }} will take place on May 19th at <a target="_blank" href="http://www.groningerforum.nl/">Groninger Forum</a>, the old Forum Images building, in Groningen.</p>
                    <p>Groninger Forum is a cultural living and working environment. A place where artists, creative people, entrepreneurs and enthusiasts can meet. A perfect spot for PyGrunn! It is a 3-minute walk from the central train station and in the heart of the city.</p>
                    <dl class="uk-description-list">
                        <dt>Address</dt><dd>Hereplein 73, 9711 GD Groningen</dd>
                        <dt>Phone</dt><dd>+31 50 312 0433</dd>
                    </dl>
                </div>
                <div>
                    <iframe class="uk-display-inline-block with-shadow uk-iframe" width="650" height="450" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2389.229039563185!2d6.56732708584506!3d53.213741552525384!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c9cd5415af180f%3A0x65968e2a9c8e427!2sHereplein+73!5e0!3m2!1sen!2s!4v1391815059572"></iframe>
                </div>
            </div>
        </section>
    </div>
</div>
