<div id="movies" class="block with-border">
    <div class="uk-container uk-container-center">
        <section class="movies">
            <div class="uk-text-center"><i class="uk-icon-video-camera uk-icon-large uk-icon-heading"></i></div>
            <h1 class="uk-text-center uk-heading-large">Movies 2014</h1>
            <div class="uk-grid uk-grid-width-1-1 uk-text-center" data-uk-grid-margin>
                <div>
                    <h2>Jeff Knupp - Keynote: Writing Idiomatic Python</h2>
                    <iframe class="uk-iframe" type="text/html" width="640" height="390" src="http://www.youtube.com/embed/8eBHHhMqkDc" frameborder="0"></iframe>
                </div>
                <div>
                    <h2>Armin Ronacher - SSL, CAs and keeping your stuff safe</h2>
                    <iframe class="uk-iframe" type="text/html" width="640" height="390" src="http://www.youtube.com/embed/z80s_Iaoyuw" frameborder="0"></iframe>
                </div>
                <div>
                    <h2>Avi Flax - The impedance mismatch of Web Microframeworks</h2>
                    <iframe class="uk-iframe" type="text/html" width="640" height="390" src="http://www.youtube.com/embed/HGpDHBzErkg" frameborder="0"></iframe>
                </div>
                <div>
                    <h2>Saúl Ibarra Corretgé - asyncio internals</h2>
                    <iframe class="uk-iframe" type="text/html" width="640" height="390" src="http://www.youtube.com/embed/HppNu0-ANYw" frameborder="0"></iframe>
                </div>
                <div>
                    <h2>Oscar Vilaplana - Scaling your system</h2>
                    <iframe class="uk-iframe" type="text/html" width="640" height="390" src="http://www.youtube.com/embed/i4qkGxlPXwU" frameborder="0"></iframe>
                </div>
                <div>
                    <h2>Panel Discussion - Dangers of centralization. Options and solutions.</h2>
                    <iframe class="uk-iframe" type="text/html" width="640" height="390" src="http://www.youtube.com/embed/oKBdhhac3Rs" frameborder="0"></iframe>
                </div>
            </div>
        </section>
    </div>
</div>
