<!--
<div id="rfp" class="block text-contrast bg-dark">
    <div class="uk-container uk-container-center">
        <section class="rfp">
            <div class="uk-text-center"><i class="uk-icon-lightbulb-o uk-icon-large uk-icon-heading uk-icon-heading-dark"></i></div>
            <h1 class="uk-text-center uk-heading-large">Request For Proposals {{ PYGRUNN_YEAR }}</h1>
            <div class="uk-grid uk-grid-width-1-1 uk-grid-width-medium-1-2 uk-text-justify">
                <div class="uk-text-justify uk-margin-large-top">
                    <p>This is your chance to share your work with the PyGrunn community!
                    Let us know your proposal for a talk at PyGrunn {{ PYGRUNN_YEAR }}.</p>

                    <p>All talks are 30 minutes and should inspire, impress and inform.
                    Try to use the full 30 minutes to inspire your audience and save the
                    discussions for the time between talks.</p>
                    <h2>Topics</h2>
                    <p>As the tagline says, PyGrunn is about Python and friends, so talks don't
                    have to be about Python per se. But they should have some connection to Python.
                    The audience is technically quite skilled so adjust your talk accordingly.</p>
                    <p><strong>Speakers get free access</strong>. You don't have to buy a ticket if you
                    speak at PyGrunn!</p>
                    <p>Please mail any questions you may have to <a href="mailto:info@pygrunn.org">info@pygrunn.org</a>.
                    You can send us any remarks you may have using the <i>additional information</i> field in the form.</p>
                </div>
                <div class="uk-text-center uk-margin-large-top">
                    <iframe class="uk-display-inline-block with-shadow uk-iframe" width="650" height="650" src="https://docs.google.com/a/paylogic.eu/forms/d/1KuoiDHP110NkXnjU2tpekfdIjfcS7wtBYJqVXqiHMpA/viewform"></iframe>
                </div>
        </section>
    </div>
</div>
-->

<div id="tips" class="block with-border">
    <div class="uk-container uk-container-center">
        <section class="tips">
            <div class="uk-text-center"><i class="uk-icon-check uk-icon-large uk-icon-heading"></i></div>
            <h1 class="uk-text-center uk-heading-large">Share your tips for {{ PYGRUNN_YEAR }}</h1>
            <div class="uk-text-center">
                <iframe class="uk-display-inline-block with-shadow uk-iframe" width="655" height="580" src="http://goo.gl/forms/zW71vXTlXH"></iframe>
            </div>
        </section>
    </div>
</div>


