<div id="rfp" class="block text-contrast bg-dark">
    <div class="uk-container uk-container-center">
        <section class="rfp">
            <div class="uk-text-center"><i class="uk-icon-lightbulb-o uk-icon-large uk-icon-heading uk-icon-heading-dark"></i></div>
            <h1 class="uk-text-center uk-heading-large">Request For Proposals 2015</h1>
            <div class="uk-text-justify uk-margin-large-top">
                <p>This is your chance to share your work with the PyGrunn community!
                Let us know your proposal for a talk at PyGrunn 2015.</p>

                <p>All talks are 30 minutes and should inspire, impress and inform.
                Try to use the full 30 minutes to inspire your audience and save the
                discussions for the time between talks.</p>
                <h2>Topics</h2>
                <p>As the tagline says, PyGrunn is about Python and friends, so talks don't
                have to be about Python per se. But they should have some connection to Python.
                The audience is technically quite skilled so adjust your talk accordingly.
                This year two themes have our special interest:
                    <ol>
                        <li>Python in science and education: Python is an excellent tool for
                        acquiring both knowledge and skills. Whether it is learning how to
                        programm or analyse large datasets for bio-medical research. It scales
                        well from simple beginnings to complex experimental work.</li>
                        <li>Python and big data: 'Big data' is an umbrella concept that houses
                        a large number of quite exciting topics. Python has many qualities that
                        make it a great fit for big data work and research.</li>
                    </ol>
                We are looking for talks and posters/papers about these two topics.
                <h2>Posters</h2>
                <p>Poster and paper sessions are new this year. We will make room for displaying
                a number of posters and papers in the venue. Authors can show their papers/posters
                and give more information in person to interested parties. Submit your paper/poster
                by filling out the form below and mail the paper/poster separately to
                <a href="mailto:info@pygrunn.org">info@pygrunn.org</a>.</p>
                <p><strong>Speakers get free access</strong>. You don't have to buy a ticket if you
                speak at PyGrunn!</p>
                <p>Please mail any questions you may have to <a href="mailto:info@pygrunn.org">info@pygrunn.org</a>.
                You can send us any remarks you may have using the <i>additional information</i> field in the form.</p>
            </div>
            <div class="uk-text-center">
                <iframe class="uk-display-inline-block with-shadow uk-iframe" width="650" height="450" src="http://goo.gl/forms/KLZoB54jJQ"></iframe>
            </div>
        </section>
    </div>
</div>

<div id="tips" class="block with-border">
    <div class="uk-container uk-container-center">
        <section class="tips">
            <div class="uk-text-center"><i class="uk-icon-check uk-icon-large uk-icon-heading"></i></div>
            <h1 class="uk-text-center uk-heading-large">Share your tips for 2015</h1>
            <div class="uk-text-center">
                <iframe class="uk-display-inline-block with-shadow uk-iframe" width="655" height="580" src="http://goo.gl/forms/0PlnXwHB2t"></iframe>
            </div>
        </section>
    </div>
</div>
