<div id="schedule" class="block with-border">
    <div class="uk-container uk-container-center page-content">
        <section class="schedule">
            <h1 class="uk-text-center uk-heading-large">Schedule {{ PYGRUNN_YEAR }}</h1>
            <div class="uk-tab-center uk-margin-large-top">
                <ul class="uk-tab" data-uk-tab="{connect:'#schedule-tabs'}">
                    <li class="uk-active"><a href="#">May 13 (conference)</a></li>
                    <li><a href="#">May 14 (Sprints)</a></li>
                    <li><a href="#">May 15 (Sprints)</a></li>
                </ul>
            </div>
            <ul id="schedule-tabs" class="uk-switcher uk-margin">
                <li class="uk-active">
                    <div class="table-responsive">
                        <table class="uk-table uk-table-middle uk-margin-remove table-schedule">
                            <thead>
                                <tr>
                                    <th>Start</th>
                                    <th>End</th>
                                    <th>1 (cellar)</th>
                                    <th>2 (ground floor)</th>
                                    <th>3 (2nd floor)</th>
                                    <th>4 (2nd floor)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>9:00</th>
                                    <th></th>
                                    <td colspan="4">Reception</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <td colspan="4">Welcome speech</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <td></td>
                                    <td>Lars de Ridder<br/>
                                    MicroPython: Internet of Pythonic things?</td>
                                    <td>Andrii Mishkovskyi<br/>
                                    Vacation From Python</td>
                                    <td>Álex González<br/>
                                    Python, Kubernetes and friends</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <td>Henk Doornbos<br/>
                                    Python blockchained</td>
                                    <td>Berco Beute<br/>
                                    State of the software union</td>
                                    <td></td>
                                    <td>Oleg Pidsadnyi<br/>
                                    Factory injection: Combining pytest and factory_boy</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <td>Emil Loer<br/>
                                    Extending C programs with PyPy-powered code</td>
                                    <td>Boaz Leskes<br/>
                                    Elasticsearch for SQL users</td>
                                    <td>Reinout van Rees<br/>
                                    Improve your django admin: big gains with little effort</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <td colspan="4">Lunch</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <td>Bram Noordzij & Bob Voorneveld<br/>
                                    Django channels</td>
                                    <td>Jelle Feringa<br/>
                                    PythonOCC & industrial robotics for the building industry</td>
                                    <td></td>
                                    <td>Ben Meijering<br/>
                                    Hello, Machine Learning!</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <td></td>
                                    <td>Peter Odding/Bart Kroon<br/>
                                    Understanding PyPy and using it in production</td>
                                    <td>Hugo Buddelmeijer<br/>
                                    The orientation of your DAGs matter!</td>
                                    <td>Daan Vielen<br/>
                                    How to survive your fellow team members and managers</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <td>Catawiki<br/>
                                    TBA</td>
                                    <td>Dmitry Chaplinsky<br/>
                                    Python superpowers on civic society's secret service.</td>
                                    <td>K Rain Leander<br/>
                                    Build a Simple Cloud with TripleO Quickstart</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <td colspan="4">Break</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <td>Bart Wesselink<br/>
                                    Processing large quantities of online payments</td>
                                    <td>Jasper Spaans<br/>
                                    From code to configuration... and back again</td>
                                    <td>VacanSoleil<br/>
                                    TBA</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <td>Sagar Pandey<br/>
                                    Demystifying Monolithic Vs Microservice architecture</td>
                                    <td>Dorian Hoxha<br/>
                                    Making more money contracting with python</td>
                                    <td>TBA<br/>
                                    TBA</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <td></td>
                                    <td>Martijn Faassen<br/>
                                    KEYNOTE</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <td colspan="4">Drinks</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>Late</th>
                                    <td colspan="4">Speakers dinner</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li>
                    <div class="table-responsive">
                        <table class="uk-table uk-table-middle table-schedule">
                            <thead>
                                <tr>
                                    <th>Start</th>
                                    <th>End</th>
                                    <th>Launch Cafe</th>
                                    <th>Cafe nearby</th>
                                    <th>Cafe in the city center</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>10:00</th>
                                    <th>10:30</th>
                                    <td class="table-schedule-cell-bg">Forming teams, announcing things to do</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>10:30</th>
                                    <th>13:00</th>
                                    <td>Sprinting!</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>13:00</th>
                                    <th>14:00</th>
                                    <td></td>
                                    <td class="table-schedule-cell-bg">Lunch</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>14:00</th>
                                    <th>18:00</th>
                                    <td>Sprinting!</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>18:00</th>
                                    <th>18:30</th>
                                    <td>Team reports</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>18:30</th>
                                    <th>22:00</th>
                                    <td></td>
                                    <td></td>
                                    <td class="table-schedule-cell-bg">Closing the day [Party]</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li>
                    <div class="table-responsive">
                        <table class="uk-table uk-table-middle table-schedule">
                            <thead>
                                <tr>
                                    <th>Start</th>
                                    <th>End</th>
                                    <th>Launch Cafe</th>
                                    <th>Cafe nearby</th>
                                    <th>Cafe in the city center</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>10:00</th>
                                    <th>10:30</th>
                                    <td class="table-schedule-cell-bg">Forming teams, announcing things to do</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>10:30</th>
                                    <th>13:00</th>
                                    <td>Sprinting!</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>13:00</th>
                                    <th>14:00</th>
                                    <td></td>
                                    <td class="table-schedule-cell-bg">Lunch</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>14:00</th>
                                    <th>18:00</th>
                                    <td>Sprinting!</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>18:00</th>
                                    <th>18:30</th>
                                    <td>Team reports</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>18:30</th>
                                    <th>22:00</th>
                                    <td></td>
                                    <td></td>
                                    <td class="table-schedule-cell-bg">Closing the day [Party]</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </section>
    </div>
</div>
