<div id="speakers" class="block with-border">
    <div class="uk-container uk-container-center">
        <section class="speakers">
            <div class="uk-text-center"><i class="uk-icon-users uk-icon-large uk-icon-heading"></i></div>
            <h1 class="uk-text-center uk-heading-large">Speakers 2014</h1>
            <div class="uk-grid uk-grid-width-1-1 uk-grid-width-medium-1-4 uk-margin-large-top uk-text-center" data-uk-grid-margin>
                <div>
                    <div id="jeff-knupp-image" class="with-shadow uk-border-circle speakers-image"></div>
                    <h2>Jeff Knupp</h2>
                    <p class="uk-text-bold">Keynote: Writing Idiomatic Python</p>
                    <a data-uk-modal="{target:'#bio-jeff-knupp'}">More information</a>
                    <div id="bio-jeff-knupp" class="uk-modal">
                        <div class="uk-modal-dialog uk-text-justify">
                            <img class="with-shadow" width="80" src="static/images/speakers/jeff_knupp.jpeg" alt="Jeff Knupp" />
                            <span class="uk-text-middle uk-text-bold uk-margin-left">Jeff Knupp</span>
                            <p class="uk-text-bold">Writing Idiomatic Python: Towards Comprehensible and Maintainable Code</p>
                            <p>This talk explores the notion of what makes Python code idiomatic (or "Pythonic"). It discusses
                              what idiomatic code is, examples of how to write in an idiomatic style, and the benefits of doing so.
                              Primarily through sample code, you'll learn how NOT to write code to solve common issues, as well
                              as the idiomatic way to accomplish the same thing. As a result, your code will be more readable,
                              easier to maintain, and easier to test.</p>
                            <p class="uk-text-bold">BIO information</p>
                            <p>Jeff Knupp is the author of "Writing Idiomatic Python" and maintains a popular Python blog at
                              <a href="http://www.jeffknupp.com" target="_blank">http://www.jeffknupp.com</a>. He is also the author of the "sandman"
                              Python library and offers private tutoring services for Python and Django/Flask. Jeff can be reached at
                              the following email address: <a href="mailto:jeff@jeffknupp.com">jeff@jeffknupp.com</a></p>
                        </div>
                    </div>
                </div>
                <div>
                    <div id="valerio-basile-image" class="with-shadow uk-border-circle speakers-image"></div>
                    <h2>Valerio Basile</h2>
                    <p class="uk-text-bold">Bad habits in academic code</p>
                    <a data-uk-modal="{target:'#bio-valerio-basile'}">More information</a>
                    <div id="bio-valerio-basile" class="uk-modal">
                        <div class="uk-modal-dialog uk-text-justify">
                            <img class="with-shadow" width="80" src="static/images/speakers/valerio_basile.jpeg" alt="Valerio Basile" />
                            <span class="uk-text-middle uk-text-bold uk-margin-left">Valerio Basile</span>
                            <p class="uk-text-bold">Bad habits in academic code</p>
                            <p>Academic code is (in)famous for being often not maintained, undocumented, not portable, and generally a headache.
                              But why? Coming from smart people, often with high programming skills, this seems like a paradox.</p>
                            <p>In this talk I will give an first-person account of how programming in an academic context can produce a very
                              different type of code then what we see in the industry or among hobbyists, and how a set of Python tools can
                              help alleviate the gap.</p>
                            <p class="uk-text-bold">BIO information</p>
                            <p>I'm currently a 4th year PhD student at RUG in Computational Linguistics,
                            but in the past have worked with databases, system administration, Web dev
                            and a bunch of other stuff. I was even a PC salesman at some point
                            and a Computer Science student in Bologna.</p>
                            <p>I've seen both worlds of industry and academia and I haven't decided yet
                            what's best for me. I'm a Free Software enthusiast and a Python aficionado.
                            When I grow up I want to be an inventor.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div id="guido-kollerie-image" class="with-shadow uk-border-circle speakers-image"></div>
                    <h2>Guido Kollerie</h2>
                    <p class="uk-text-bold">Slice &amp; Dice: Data Analysis using Pandas</p>
                    <a data-uk-modal="{target:'#bio-guido-kollerie'}">More information</a>
                    <div id="bio-guido-kollerie" class="uk-modal">
                        <div class="uk-modal-dialog uk-text-justify">
                            <img class="with-shadow" width="80" src="static/images/speakers/guido_kollerie.jpeg" alt="Guido Kollerie" />
                            <span class="uk-text-middle uk-text-bold uk-margin-left">Guido Kollerie</span>
                            <p class="uk-text-bold">Slice &amp; Dice: Data Analysis using Pandas</p>
                            <p>Pandas is an increasingly popular and fast Python library for analyzing large amounts of data. It has made
                              Python a practical choice for performing data analysis. This talk will introduce Pandas and show real world
                              examples slicing and dicing raw data into meaningful information.</p>
                            <p class="uk-text-bold">BIO information</p>
                            <p>Freelance software developer.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div id="kilian-evang-image" class="with-shadow uk-border-circle speakers-image"></div>
                    <h2>Kilian Evang</h2>
                    <p class="uk-text-bold">Produce: Makefiles without the annoying bits</p>
                    <a href="https://texttheater.github.io/produce-pygrunn2014/" target="_blank">Slides</a>,
                    <a href="https://github.com/texttheater/produce/" target="_blank">Code</a><br />
                    <a data-uk-modal="{target:'#bio-kilian-evang'}">More information</a>
                    <div id="bio-kilian-evang" class="uk-modal">
                        <div class="uk-modal-dialog uk-text-justify">
                            <img class="with-shadow" width="80" src="static/images/speakers/kilian_evang.jpeg" alt="Kilian Evang" />
                            <span class="uk-text-middle uk-text-bold uk-margin-left">Kilian Evang</span>
                            <p class="uk-text-bold">Produce: Makefiles without the annoying bits</p>
                            <p>Scientists are increasingly faced with the demand to make their software and data available so others
                              can check their method and results. Makefiles provide a fantastic thin layer above shell scripts for
                              distributing ready-to-run, self-documenting experiments and analyses.</p>
                            <p>However, Make has its warts, and some advanced requirements lead to extremely tedious-to-write and
                              hard-to-understand code. Alternatives such as SCons or Rake are often too focused on building software
                              and give up too much of Make's simplicity to be suitable as a lingua franca" for scientific exchange.</p>
                            <p>Enter <a href="https://github.com/texttheater/produce" target="_blank">Produce</a>, a new free and open-source
                              incremental build tool written in Python 3 that retains the basic concepts of Make and uses the friendly and
                              familiar INI file syntax. Arbitrary regular expressions and arbitrary Python expressions make Produce files
                              very powerful while keeping everything as simple and intuitive as possible.</p>
                            <p class="uk-text-bold">BIO information</p>
                            <p>Kilian Evang is a PhD student in computational semantics at the University of Groningen.
                            His work is about getting computers to understand the true meaning of sentences and texts in natural languages
                            like English and Dutch. Besides natural languages, Kilian also has a keen interest in programming languages and
                            using them, working daily with Prolog, Python and shell scripts.</p>
                        </div>
                    </div>
                </div>

                <div>
                    <div id="kenneth-reitz-image" class="with-shadow uk-border-circle speakers-image"></div>
                    <h2>Kenneth Reitz</h2>
                    <p class="uk-text-bold">Growing Open Source Seeds & Documentation is King</p>
                    <a data-uk-modal="{target:'#bio-kenneth-reitz'}">More information</a>
                    <div id="bio-kenneth-reitz" class="uk-modal">
                        <div class="uk-modal-dialog uk-text-justify">
                            <img class="with-shadow" width="80" src="static/images/speakers/kenneth_reitz.jpeg" alt="Kenneth Reitz" />
                            <span class="uk-text-middle uk-text-bold uk-margin-left">Kenneth Reitz</span>
                            <p class="uk-text-bold">Growing Open Source Seeds</p>
                            <p>This talk will be an in-depth review of the stages that most open source projects go though, and the decisions
                              their maintainers face. Requests will be used as an example — lessons learned and best practices will be covered.</p>
                            <p class="uk-text-bold">Documentation is King</p>
                            <p>Open source is all about communication — a project is only as useful as the documentation is has.</p>
                            <p>Every design decision should be documented. Imagine not having to have tap your coworkers on the shoulder
                              when you’re working on an unfamiliar part of the codebase, or on-boarding a new employee. Imagine being
                              able to make the change, run the tests, and push to production without questioning yourself, because the
                              process was documented — or better yet, automated.</p>
                            <p class="uk-text-bold">BIO information</p>
                            <p>Kenneth Reitz is the product owner of Python at Heroku and a member of the Python Software Foundation.
                              He embraces minimalism, elegant architecture, and simple interfaces.</p>
                            <p>Kenneth focuses on software development, photography, and music production. He is well known for
                              his many open source software projects, specifically <a href="http://docs.python-requests.org/en/latest/">Requests: HTTP for Humans</a>.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div id="dmitrijs-milajevs-image" class="with-shadow uk-border-circle speakers-image"></div>
                    <h2>Dmitrijs Milajevs</h2>
                    <p class="uk-text-bold">Python for data scientists</p>
                    <a href="http://nbviewer.ipython.org/urls/bitbucket.org/dimazest/phd-buildout/raw/tip/notebooks/pygrunn14.ipynb" target="_blank">Slides</a><br />
                    <a data-uk-modal="{target:'#bio-dmitrijs-milajevs'}">More information</a>
                    <div id="bio-dmitrijs-milajevs" class="uk-modal">
                        <div class="uk-modal-dialog uk-text-justify">
                            <img class="with-shadow" width="80" src="static/images/speakers/dmitrijs_milajevs.jpeg" alt="Dmitrijs Milajevs" />
                            <span class="uk-text-middle uk-text-bold uk-margin-left">Dmitrijs Milajevs</span>
                            <p class="uk-text-bold">Python for data scientists</p>
                            <p>With the current amount of data, scientists have to become programmers to carry on bleeding edge research.</p>
                            <p>Python is a great language for building large systems. Currently it becomes more and  more popular in academia
                              to perform data processing and exploration.</p>
                            <p>In this talk I'll introduce the tools that Python community provides to analyze the data. IPython Notebook,
                              Matplotliib, bokeh, seaborn and pandas are just few of them.</p>
                            <p class="uk-text-bold">BIO information</p>
                            <p>Hmm, a former Paylogic crew member :) currently a Ph.D. student at Queen Mary, University of London.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div id="job-ganzevoort-image" class="with-shadow uk-border-circle speakers-image"></div>
                    <h2>Job Ganzevoort</h2>
                    <p class="uk-text-bold">From zero to hero</p>
                    <a href="http://www.slideshare.net/meij200/from-zero-to-hero-py-grunn-2014" target="_blank">Slides</a>,
                    <a href="https://github.com/Goldmund-Wyldebeast-Wunderliebe/templateproject" target="_blank">Code 1</a>,
                    <a href="https://github.com/Goldmund-Wyldebeast-Wunderliebe/puppet-appie" target="_blank">Code 2</a><br />
                    <a data-uk-modal="{target:'#bio-job-ganzevoort'}">More information</a>
                    <div id="bio-job-ganzevoort" class="uk-modal">
                        <div class="uk-modal-dialog uk-text-justify">
                            <img class="with-shadow" width="80" src="static/images/speakers/job_ganzevoort.jpeg" alt="Job Ganzevoort" />
                            <span class="uk-text-middle uk-text-bold uk-margin-left">Job Ganzevoort</span>
                            <p class="uk-text-bold">From zero to hero</p>
                            <p>How to setup a Django application, from first start to deployment to maintenance. In rapid succession
                              we'll cover many subject, from puppet to nginx to git to fabric. We'll especially cover git workflow
                              and branches, keeping separate DTAP settings en introduce some useful tools.</p>
                            <p class="uk-text-bold">BIO information</p>
                            <p>Developer at Goldmund, Wyldebeast & Wunderliebe. Software engineer with systems background. Devops guy before that was a word.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div id="gijs-molenaar-image" class="with-shadow uk-border-circle speakers-image"></div>
                    <h2>Gijs Molenaar</h2>
                    <p class="uk-text-bold">SQLAlchemy and astronomical data</p>
                    <a href="https://speakerdeck.com/gijzelaerr/transient-detection-with-sqlalchemy" target="_blank">Slides</a><br />
                    <a data-uk-modal="{target:'#bio-gijs-molenaar'}">More information</a>
                    <div id="bio-gijs-molenaar" class="uk-modal">
                        <div class="uk-modal-dialog uk-text-justify">
                            <img class="with-shadow" width="80" src="static/images/speakers/gijs_molenaar.jpeg" alt="Gijs Molenaar" />
                            <span class="uk-text-middle uk-text-bold uk-margin-left">Gijs Molenaar</span>
                            <p class="uk-text-bold">SQLAlchemy and astronomical data</p>
                            <p>At the Anton Pannekoek institute we store a lot of data coming from the LOFAR radio telescope. This
                              data is then later on processed for finding transients, objects that change over time. For storing
                              and querying the data we use good old SQL. Although SQL does the job well, the language is quite
                              outdated. It is a hard and challenging task to write and maintain complex queries. My talk will be
                              about how we use Python and SQLAlchemy as tools for writing and managing complex astronomical queries.</p>
                            <p class="uk-text-bold">BIO information</p>
                            <p>When I was a kid I wanted to become a bicycle repair man. Now I'm working at the Anton Pannekoek
                              Institute as a scientific software engineer for the AARTFAAC project, which is also fun. Although
                              I'm living in Amsterdam this year I'll be a lot in South Africa working on software for the Square
                              Kilometre Array. In my spare time I make beer and music.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div id="greg-kowal-image" class="with-shadow uk-border-circle speakers-image"></div>
                    <h2>Grzegorz "Greg" Kowal</h2>
                    <p class="uk-text-bold">Geoprocessing with python</p>
                    <a data-uk-modal="{target:'#bio-greg-kowal'}">More information</a>
                    <div id="bio-greg-kowal" class="uk-modal">
                        <div class="uk-modal-dialog uk-text-justify">
                            <img class="with-shadow" width="80" src="static/images/speakers/greg_kowal.jpeg" alt="Grzegorz Kowal" />
                            <span class="uk-text-middle uk-text-bold uk-margin-left">Grzegorz "Greg" Kowal</span>
                            <p class="uk-text-bold">Geoprocessing with python</p>
                            <p>Geoprocessing is a GIS operation used to manipulate spacial data. Python is a common platform used in
                              geoprocessing, many tools exist to support us in this interesting field of work. In this talk I will
                              explain solution and tools I have created and used for processing of the gamma soil scans. This
                              solution was created for the farming industry aiming to rationalise use of fertilisers and supporting
                              sustainable farming.</p>
                            <p class="uk-text-bold">BIO information</p>
                            <p>I'm Polish, educated in Australia and living in Netherlands. I have strong background in Java,
                              specially in web based solutions. I worked for different organisations including banks, telecom
                              companies and small startups. Since 2010 I have been involved in developing Python and GIS
                              (Geographical Information System) solutions. This became my passion. I have lovely wife Joanna
                              and I'm a father of a 2 year old boy - Jan. You can always talk to me about history and cars -
                              those are my other hobbies.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div id="saul-ibarra-corretge-image" class="with-shadow uk-border-circle speakers-image"></div>
                    <h2>Saúl Ibarra Corretgé</h2>
                    <p class="uk-text-bold">asyncio internals</p>
                    <a href="http://www.slideshare.net/saghul/asyncio-internals" target="_blank">Slides</a><br />
                    <a data-uk-modal="{target:'#bio-saul-ibarra-corretge'}">More information</a>
                    <div id="bio-saul-ibarra-corretge" class="uk-modal">
                        <div class="uk-modal-dialog uk-text-justify">
                            <img class="with-shadow" width="80" src="static/images/speakers/saul_ibarra_corretge.jpeg" alt="Saúl Ibarra Corretgé" />
                            <span class="uk-text-middle uk-text-bold uk-margin-left">Saúl Ibarra Corretgé</span>
                            <p class="uk-text-bold">asyncio internals</p>
                            <p>asyncio is the new asynchronous framework for Python, part of the standard library on CPython 3.4. But how does
                              it actually work? Let's see what's under the hood!</p>
                            <p class="uk-text-bold">BIO information</p>
                            <p>Saghul is a Python and C developer who loves anything and everything that has to do with sockets.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div id="douwe-van-der-meij-image" class="with-shadow uk-border-circle speakers-image"></div>
                    <h2>Douwe van der Meij</h2>
                    <p class="uk-text-bold">From zero to hero</p>
                    <a data-uk-modal="{target:'#bio-douwe-van-der-meij'}">More information</a>
                    <div id="bio-douwe-van-der-meij" class="uk-modal">
                        <div class="uk-modal-dialog uk-text-justify">
                            <img class="with-shadow" width="80" src="static/images/speakers/douwe_van_der_meij.jpeg" alt="Douwe van der Meij" />
                            <span class="uk-text-middle uk-text-bold uk-margin-left">Douwe van der Meij</span>
                            <p class="uk-text-bold">From zero to hero</p>
                            <p>How to setup a Django application, from first start to deployment to maintenance. In rapid succession we'll cover
                              many subject, from puppet to nginx to git to fabric. We'll especially cover git workflow and branches, keeping
                              separate DTAP settings en introduce some useful tools.</p>
                            <p class="uk-text-bold">BIO information</p>
                            <p>Developer at Goldmund, Wyldebeast & Wunderliebe. Software engineer, Python minded, Django enthusiast.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div id="erik-romijn-image" class="with-shadow uk-border-circle speakers-image"></div>
                    <h2>Erik Romijn</h2>
                    <p class="uk-text-bold">Keeping Django chained: top security concerns for Django websites</p>
                    <a data-uk-modal="{target:'#bio-erik-romijn'}">More information</a>
                    <div id="bio-erik-romijn" class="uk-modal">
                        <div class="uk-modal-dialog uk-text-justify">
                            <img class="with-shadow" width="80" src="static/images/speakers/erik_romijn.jpeg" alt="Erik Romijn" />
                            <span class="uk-text-middle uk-text-bold uk-margin-left">Erik Romijn</span>
                            <p class="uk-text-bold">Keeping Django chained: top security concerns for Django websites</p>
                            <p>Django offers excellent support to help you build secure web applications. It has built-in protection
                              against XSS, CSRF, SQL injection, clickjacking and many more attacks. However, the fact that you’re
                              using Django does not mean you're off the hook. You could have flaws in your user authorisation or your
                              SSL setup. Using raw or extra in database queries is helpful when you need that extra power, but also
                              makes it simple to introduce a SQL injection. And so on.</p>
                            <p>In this session, we'll go through some of the most common and serious security issues that can affect
                              Django websites, and how you can mitigate them. Some of these will apply to other web applications too.</p>
                            <p class="uk-text-bold">BIO information</p>
                            <p>I’m an independent app maker, making both iOS and web apps in independent projects and freelance
                              work. Most of my web apps are built with Django, and I am also a Django core developer. One of my
                              goals is to help developers with little security background to understand that many aspects of
                              security are not that difficult, and not at all frightening.</p>
                        </div>
                    </div>
                </div>

                <div>
                    <div id="oscar-vilaplana-image" class="with-shadow uk-border-circle speakers-image"></div>
                    <h2>Oscar Vilaplana</h2>
                    <p class="uk-text-bold">Scaling your system</p>
                    <a data-uk-modal="{target:'#bio-oscar-vilaplana'}">More information</a>
                    <div id="bio-oscar-vilaplana" class="uk-modal">
                        <div class="uk-modal-dialog uk-text-justify">
                            <img class="with-shadow" width="80" src="static/images/speakers/oscar_vilaplana.jpeg" alt="Oscar Vilaplana" />
                            <span class="uk-text-middle uk-text-bold uk-margin-left">Oscar Vilaplana</span>
                            <p class="uk-text-bold">Scaling your system</p>
                            <p>You have a system running in a bunch of servers with a centralized database. It works and you
                              like it but your customers like it even more. In fact, they like it so much that your metal
                              barely keeps up with all the traffic, data, users and love. Either you find a way to scale
                              your system (the Instagram way) or you make it uglier to scare users away (the Digg way).
                              At Paylogic we prefer the former.</p>
                            <p>We'll look at basic scalability patterns, what we should look to decide how to scale and at
                              how others did it, and we'll apply all this to an imaginary monolythic system.</p>
                            <p class="uk-text-bold">BIO information</p>
                            <p>Architect at Paylogic. Passionate about clean architecture and code, Python, AngularJS,
                              piano, short fiction and recumbent biking.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div id="berco-beute-image" class="with-shadow uk-border-circle speakers-image"></div>
                    <h2>Berco Beute</h2>
                    <p class="uk-text-bold">Python friends: CoffeeScript & AngularJS</p>
                    <a data-uk-modal="{target:'#bio-berco-beute'}">More information</a>
                    <div id="bio-berco-beute" class="uk-modal">
                        <div class="uk-modal-dialog uk-text-justify">
                            <img class="with-shadow" width="80" src="static/images/speakers/berco_beute.jpeg" alt="Berco Beute" />
                            <span class="uk-text-middle uk-text-bold uk-margin-left">Berco Beute</span>
                            <p class="uk-text-bold">Python friends: CoffeeScript & AngularJS</p>
                            <p>Are the days of backends rendering webpages over? There sure is an increase in functionality
                              that moved from the backend to the clientside. JavaScript undeniably played an important role
                              in that. But with the rise of clientside complexity the need for simplicity rose as well.
                              Coffeescript is an attempt to simplify the JavaScript syntax, promote its good parts and hide
                              its bad parts. AngularJS is a clientside JavaScript framework for building one-page webapps.
                              This talk will give a crashcourse in both technologies so you can decide whether they can be
                              valuable new tools in your toolbox next to Python. This will be done by showing a clientside
                              REST API built with AngularJS and coffeescript.</p>
                            <p class="uk-text-bold">BIO information</p>
                            <p>CTO (Paylogic), hacker, musician and all-round internet technology enthusiast Berco Beute
                              has been inspired by the possibilities of software since the eigthies. His enthusiasm show no
                              signs of decline. Au contraire.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div id="henk-doornbos-image" class="with-shadow uk-border-circle speakers-image"></div>
                    <h2>Henk Doornbos</h2>
                    <p class="uk-text-bold">Processes, Data and the rest</p>
                    <a data-uk-modal="{target:'#bio-henk-doornbos'}">More information</a>
                    <div id="bio-henk-doornbos" class="uk-modal">
                        <div class="uk-modal-dialog uk-text-justify">
                            <img class="with-shadow" width="80" src="static/images/speakers/henk_doornbos.jpeg" alt="Henk Doornbos" />
                            <span class="uk-text-middle uk-text-bold uk-margin-left">Henk Doornbos</span>
                            <p class="uk-text-bold">Processes, Data and the rest</p>
                            <p>The systems we build are complicated. They have to support complicated processes, such as
                              configuring events, selling complicated product and dealing with financial aspects. They
                              also generate and use lots of complicated data. It is not easy to design such systems,
                              making sure that all processes are supported and that all data is taken into account.</p>
                            <p>The talk introduces a systematic way to create such designs. I will also sketch how that
                              method can be used to create restful API's. The method helps us to build scalable API's
                              that not just allow clients to use data but also make it easy to support complicated processes.</p>
                            <p class="uk-text-bold">BIO information</p>
                            <p>Senior Architect and Head of Tech (Paylogic). Lecturer (Groningen University and Hanze university).
                              Miller (De Hoop, Haren).</p>
                            <p>For the past 30 years Henk Doornbos has been passionate about methods, tools and techniques that
                              help to create, maintain and manage complicated software systems.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div id="avi-flax-image" class="with-shadow uk-border-circle speakers-image"></div>
                    <h2>Avi Flax</h2>
                    <p class="uk-text-bold">The impedance mismatch of Web Microframeworks</p>
                    <a href="https://drive.google.com/a/paylogic.eu/file/d/0B7vMVkOX3CzVSTNmbHpTRDk2eWM1X0tzM050dmRrb25nMmlR/edit?usp=sharing" target="_blank">Slides</a><br />
                    <a data-uk-modal="{target:'#bio-avi-flax'}">More information</a>
                    <div id="bio-avi-flax" class="uk-modal">
                        <div class="uk-modal-dialog uk-text-justify">
                            <img class="with-shadow" width="80" src="static/images/speakers/avi_flax.jpeg" alt="Avi Flax" />
                            <span class="uk-text-middle uk-text-bold uk-margin-left">Avi Flax</span>
                            <p class="uk-text-bold">The impedance mismatch of Web Microframeworks</p>
                            <p>I love Web microframeworks, but most of them do HTTP routing wrong, because their
                              core paradigm is at odds with that of the web. I’ll show examples using Bottle,
                              Sinatra, Express, and Compojure to demonstrate that their approach to routing
                              encourages developers to incorrectly implement HTTP and to misunderstand it;
                              why this matters, and how to do it better, including a tiny library I’ve created
                              for doing it right with Clojure and Compojure.</p>
                            <p class="uk-text-bold">BIO information</p>
                            <p>Software architect, Web partisan, HTTP pedant. Blurring the lines between apps,
                              services, APIs, and websites since 2005. CTO of SFX Entertainment. Admirer of
                              Python for a decade, currently infatuated with Clojure and functional programming.
                              Excited about asyncio. Geek since birth.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div id="dirk-zittersteyn-image" class="with-shadow uk-border-circle speakers-image"></div>
                    <h2>Dirk Zittersteyn</h2>
                    <p class="uk-text-bold">Advanced continuous integration</p>
                    <a data-uk-modal="{target:'#bio-dirk-zittersteyn'}">More information</a>
                    <div id="bio-dirk-zittersteyn" class="uk-modal">
                        <div class="uk-modal-dialog uk-text-justify">
                            <img class="with-shadow" width="80" src="static/images/speakers/dirk_zittersteyn.jpeg" alt="Dirk Zittersteyn" />
                            <span class="uk-text-middle uk-text-bold uk-margin-left">Dirk Zittersteyn</span>
                            <p class="uk-text-bold">Advanced continuous integration</p>
                            <p>A Lightning-fast introduction into multiple people working on different things while not breaking your
                              software, and getting your features to your customer as quickly as possible.</p>
                            <p class="uk-text-bold">BIO information</p>
                            <p>26-year-old software engineer, sailor and data visualizer, loves long walks through the debugger, deep
                              introspection and late-night talks with a terminal.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div id="armin-ronacher-image" class="with-shadow uk-border-circle speakers-image"></div>
                    <h2>Armin Ronacher</h2>
                    <p class="uk-text-bold">SSL, CAs and keeping your stuff safe</p>
                    <a data-uk-modal="{target:'#bio-armin-ronacher'}">More information</a>
                    <div id="bio-armin-ronacher" class="uk-modal">
                        <div class="uk-modal-dialog uk-text-justify">
                            <img class="with-shadow" width="80" src="static/images/speakers/armin_ronacher.jpeg" alt="Armin Ronacher" />
                            <span class="uk-text-middle uk-text-bold uk-margin-left">Armin Ronacher</span>
                            <p class="uk-text-bold">SSL, CAs and keeping your stuff safe</p>
                            <p>An introduction to encryption and security in practical terms and why it's important but not as
                              important as you might think.  Some practical experiences from CA based SSL for web services and what
                              it gives you, what it does not and some alternatives.</p>
                            <p class="uk-text-bold">BIO information</p>
                            <p>Armin Ronacher is an independent Software Developer working for Splash
                              Damage on Online Infrastructure for computer games.  He's the creator of
                              the Flask Python web framework and many other Python libraries.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div id="denis-bilenko-image" class="with-shadow uk-border-circle speakers-image"></div>
                    <h2>Denis Bilenko</h2>
                    <p class="uk-text-bold">Gevent</p>
                    <a href="http://gevent.org/pygrunn2014.pdf" target="_blank">Slides</a><br />
                    <a data-uk-modal="{target:'#bio-denis-bilenko'}">More information</a>
                    <div id="bio-denis-bilenko" class="uk-modal">
                        <div class="uk-modal-dialog uk-text-justify">
                            <img class="with-shadow" width="80" src="static/images/speakers/denis_bilenko.jpeg" alt="Denis Bilenko" />
                            <span class="uk-text-middle uk-text-bold uk-margin-left">Denis Bilenko</span>
                            <p class="uk-text-bold">Gevent</p>
                            <p>What would be the future of writing servers in Python? Is it newly blessed AsyncIO? Gevent? OS threads?
                              My bet is that the latter with Gevent in a transition period.</p>
                            <p>The talk will include:</p>
                            <p>
                              <ul>
                                <li>a short intro to gevent</li>
                                <li>current status</li>
                                <li>comparison to other approaches</li>
                              </ul>
                            </p>
                            <p class="uk-text-bold">BIO information</p>
                            <p>Denis is a founder/CTO at Surfly, Amsterdam-based company providing screen sharing for the Web.
                              He is the author and maintainer of gevent.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div id="rodrigo-pimentel-image" class="with-shadow uk-border-circle speakers-image"></div>
                    <h2>Rodrigo Bernardo Pimentel</h2>
                    <p class="uk-text-bold">A first look at async.io</p>
                    <a href="http://isnomore.net/f/pygrunn-2014-asyncio.pdf" target="_blank">Slides</a>,
                    <a href="https://github.com/rbp/pygrunn2014-snippets" target="_blank">Code</a><br />
                    <a data-uk-modal="{target:'#bio-rodrigo-pimentel'}">More information</a>
                    <div id="bio-rodrigo-pimentel" class="uk-modal">
                        <div class="uk-modal-dialog uk-text-justify">
                            <img class="with-shadow" width="80" src="static/images/speakers/rodrigo_pimentel.jpeg" alt="Rodrigo Bernardo Pimentel" />
                            <span class="uk-text-middle uk-text-bold uk-margin-left">Rodrigo Bernardo Pimentel</span>
                            <p class="uk-text-bold">A first look at async.io</p>
                            <p>Python is no stranger to asynchronous I/O. Twisted has been around for more than a decade,
                              and Tornado is approaching its 5th birthday.</p>
                            <p>At Layar, we use both. So, when Guido announced what would become the asyncio library
                              (or Tulip, its reference implementation), we were naturally curious. It has now been incorporated
                              into the standard library with the 3.4 release a few weeks ago, so it's about time to get our hands dirty.</p>
                            <p>This talk is a first look at asyncio. It won't contain all the answers, but hopefully some (and raise interesting questions).</p>
                            <p class="uk-text-bold">BIO information</p>
                            <p>Rodrigo has been programming Python for about 10 years, now (and other languages for somewhat longer).
                              For the past few years he's been exploring scalability problems. He makes a good dry martini, too.
                              Rodrigo is server team lead at Layar.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div id="artur-barseghyan-image" class="with-shadow uk-border-circle speakers-image"></div>
                    <h2>Artur Barseghyan</h2>
                    <p class="uk-text-bold">Modern authentication in Python web applications</p>
                    <a href="http://www.slideshare.net/barseghyanartur/sso-using-cas-twofactor-authentication-pygrunn-2014-talk" target="_blank">Slides</a><br />
                    <a data-uk-modal="{target:'#bio-artur-barseghyan'}">More information</a>
                    <div id="bio-artur-barseghyan" class="uk-modal">
                        <div class="uk-modal-dialog uk-text-justify">
                            <img class="with-shadow" width="80" src="static/images/speakers/artur_barseghyan.jpeg" alt="Artur Barseghyan" />
                            <span class="uk-text-middle uk-text-bold uk-margin-left">Artur Barseghyan</span>
                            <p class="uk-text-bold">Modern authentication in Python web applications</p>
                            <p>The talk consists of two parts: (1) Single Sign-on and (2) Two-step verification (two-factor authentication).</p>
                            <p>(1) Standalone applications can handle their own user base and the authentication pretty well. When it comes
                              to corporate solutions, it’s not uncommon to use multiple applications. While from the developer perspective
                              it may be just fine to log into 10 different environments in order to be able to work, from the end-user
                              perspective multiple logins are quite annoying. Single Sign-on solves the problem.</p>
                            <p>(2) Stolen passwords are not uncommon these days. Two-step verification puts an extra layer of security
                              over the standard login/password authentication.</p>
                            <p class="uk-text-bold">BIO information</p>
                            <p>Employed by: Goldmund, Wyldebeast & Wunderliebe <a href="http://www.goldmund-wyldebeast-wunderliebe.nl/">http://www.goldmund-wyldebeast-wunderliebe.nl/</a></p>
                            <p>Github: <a href="https://github.com/barseghyanartur">https://github.com/barseghyanartur</a></p>
                            <p>The biggest hobby: <a href="http://delusionalinsanity.com/portfolio/">http://delusionalinsanity.com/portfolio/</a></p>
                        </div>
                    </div>
                </div>
                <div>
                    <div id="pawel-lewicki-image" class="with-shadow uk-border-circle speakers-image"></div>
                    <h2>Pawel Lewicki</h2>
                    <p class="uk-text-bold">Sphinx + Robot Framework = documentation as result of functional testing</p>
                    <a href="http://www.slideshare.net/plewicki/sphinx-robot-framework-documentation-as-result-of-functional-testing" target="_blank">Slides</a><br />
                    <a data-uk-modal="{target:'#bio-pawel-lewicki'}">More information</a>
                    <div id="bio-pawel-lewicki" class="uk-modal">
                        <div class="uk-modal-dialog uk-text-justify">
                            <img class="with-shadow" width="80" src="static/images/speakers/pawel_lewicki.jpeg" alt="Pawel Lewicki" />
                            <span class="uk-text-middle uk-text-bold uk-margin-left">Pawel Lewicki</span>
                            <p class="uk-text-bold">Sphinx + Robot Framework = documentation as result of functional testing</p>
                            <p>Sphinx is a Python documentation generator, Robot Framework is a test automation framework. These tools
                              combined make documentation a part of the test coverage. Tests are written in human (customer) readable
                              form and the result documentation contains screenshots from product in development. Come and see it in action.</p>
                            <p class="uk-text-bold">BIO information</p>
                            <p>I'm experienced Plone developer with background of RDBMS development and report building. I was
                              involved in big implementations of ERP systems, where my main task were building reports with SQL
                              and Crystal Reports, and writing Intranet applications. Since 2013 working with Goldmund, Wyldebeast &
                              Wunderliebe as senior Plone developer.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div id="panel-image" class="with-shadow uk-border-circle speakers-image"></div>
                    <h2>Panel Discussion</h2>
                    <p class="uk-text-bold">Dangers of centralization. Options and solutions.</p>
                    <a data-uk-modal="{target:'#bio-panel'}">More information</a>
                    <div id="bio-panel" class="uk-modal">
                        <div class="uk-modal-dialog uk-text-justify">
                            <img class="with-shadow" width="80" src="static/images/speakers/panel.png" id="panel-inner-image" alt="Panel" />
                            <span class="uk-text-middle uk-text-bold uk-margin-left">Panel Discussion</span>
                            <p class="uk-text-bold">Dangers of centralization. Options and solutions.</p>
                            <p>Recent issues, e.g. with NSA, has shown that centralized systems and data bring along
                              considerable dangers. Whether it's privacy, security, reliability, safety, etc. With an
                              increasing dependance on these systems the risks increase accordingly. The problem is
                              not unique to large IT systems but can be seen at many levels and in many settings. The
                              world is riddled by problems caused by centralization. It seems that nobody or nothing
                              can really handle the power that centralized systems give them.</p>
                            <p>But there is a way out. Nature for instance has shown that in many domains only decentralized
                              systems work. But there are examples from a wide range of other domains, e.g. economy, IT,
                              society, etc. Decentralized systems have their own problems, of course, but it could solve
                              some of our pressing current day issues.</p>
                            <p>This raises many questions and it is important to address them. For example, if you can
                              solve issues in software systems by building them with an inherent drive towards decentralization,
                              could you translate such a solution to other domains? And looking at IT specifically, what are
                              the alternatives to centralized systems? Will they work? What are the available tools for
                              building decentralized systems?</p>
                            <p>This panel session will start with a presentation about the problem domain followed by an open
                              discussion between the panel and the audience. Being a technology conference the focus of the
                              discussion will be software systems.</p>
                            <p>This panel session marks the kickoff of a larger project on this topic. Details of the larger
                              project will be touched upon during the session.</p>
                            <p>Everybody is encouraged to actively participate!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
