<div id="sponsor" class="block with-border">
    <div class="uk-container uk-container-center">
        <section class="sponsor">
            <div class="uk-text-center"><i class="uk-icon-thumbs-up uk-icon-large uk-icon-heading"></i></div>
            <h1 class="uk-text-center uk-heading-large">Become A Sponsor</h1>
            <h2 class="uk-margin-large-top">Why we need sponsors</h2>
            <div class="uk-grid uk-grid-width-1-1 uk-grid-width-large-1-2 uk-text-justify" data-uk-grid-match data-uk-grid-margin>
                <div>
                    <p>Pygrunn is made possible through the efforts of volunteers, speakers and participants,
                    but also by the financial support of a growing number of sponsors. With your contribution,
                    within five years, Pygrunn has become the busiest and most visited Python Conference
                    in the Netherlands.</p>
                    <p>With more than 200 participants and international speakers, for
                    one entire day, Groningen could call itself the Python capital of the Netherlands.
                    Your contribution would give PyGrunn a solid financial base in order to achieve everything
                    mentioned above.</p>
                </div>
                <div>
                    <p>With your contribution, we can:</p>
                    <ul class="uk-list uk-list-space list-icon list-icon-chevron-right">
                        <li>Keep the ticket prices low.</li>
                        <li>Provide a decent location to host Pygrunn.</li>
                        <li>Reimburse the travel and accommodation costs of our international speakers.</li>
                        <li>Provide catering.</li>
                        <li>Live stream the talks for those at home.</li>
                        <li>And of course to print our extremely popular t-shirts.</li>
                    </ul>
                    <p>If you are interested and wish to get more information, then please contact us in <a href="mailto:info@pygrunn.org">info@pygrunn.org</a>.</p>
                </div>
            </div>
            <h2>Sponsor Packages</h2>
            <div class="uk-grid uk-grid-width-1-2 uk-grid-width-medium-1-4" data-uk-grid-margin>
                <div>
                    <h3>Bronze <span>(€500)</span></h3>
                    <ul class="uk-list uk-list-space list-icon list-icon-chevron-right">
                        <li>Small logo on the PyGrunn website linked to your own website</li>
                        <li>Small logo on folders and banners</li>
                        <li>2 admission tickets</li>
                    </ul>
                </div>
                <div>
                    <h3>Silver <span>(€1500)</span></h3>
                    <ul class="uk-list uk-list-space list-icon list-icon-chevron-right">
                        <li>Your name mentioned on the PyGrunn website</li>
                        <li>Medium logo on the PyGrunn website linked to your own website</li>
                        <li>Medium logo on folders and banners</li>
                        <li>Vacancy flyer</li>
                        <li>4 admission tickets</li>
                    </ul>
                </div>
                <div>
                    <h3>Gold <span>(€3000)</span></h3>
                    <ul class="uk-list uk-list-space list-icon list-icon-chevron-right">
                        <li>Your name mentioned on the PyGrunn website</li>
                        <li>Introduction section about you on the PyGrunn website</li>
                        <li>Big logo on the PyGrunn website linked to your own website</li>
                        <li>Big logo on folders and banners</li>
                        <li>Vacancy flyer</li>
                        <li>Participation in organisation of the PyGrunn</li>
                        <li>6 admission tickets</li>
                        <li>One of the venues named after you</li>
                        <li>Reference during the Pygrunn monthly (6 times a year)</li>
                    </ul>
                </div>
                <div>
                    <h3>Kryptonite <span>(€5000)</span></h3>
                    <ul class="uk-list uk-list-space list-icon list-icon-chevron-right">
                        <li>Your name mentioned on the PyGrunn website</li>
                        <li>Introduction section about you on the PyGrunn website</li>
                        <li>Big logo on the PyGrunn website linked to your own website</li>
                        <li>Big logo on folders and banners</li>
                        <li>Vacancy flyer</li>
                        <li>Participation in organisation of the PyGrunn</li>
                        <li>Keynote speaker</li>
                        <li>8 admission tickets</li>
                        <li>Main venue named after you</li>
                        <li>Reference during the Pygrunn monthly (6 times a year)</li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>
