<div id="fullscreen" class="fullscreen" style="background-image: url('/theme/images/logos/top_artwork_{{ PYGRUNN_YEAR }}.png');">
    <div class="sponsor-images uk-hidden-small">
        <div class="uk-container uk-container-center">
            <div class="uk-grid uk-grid-small uk-grid-width-1-2 uk-grid-width-medium-1-4 uk-text-center">
                <div>
                    <a class="voys-logo sponsor-img uk-display-inline-block uk-vertical-align-middle text-hidden" href="http://www.voys.nl/" target="_blank">
                        <span >Voys</span>
                    </a>
                </div>
                <div>
                    <a class="getlogic-logo sponsor-img uk-display-inline-block uk-vertical-align-middle text-hidden" href="http://www.getlogic.nl/" target="_blank">
                        <span>Getlogic</span>
                    </a>
                </div>
                <div>
                    <a class="paylogic-logo sponsor-img uk-display-inline-block uk-vertical-align-middle text-hidden" href="http://www.paylogic.com" target="_blank">
                        <span>Paylogic</span>
                    </a>
                </div>
                <div>
                    <a class="goldmund-logo sponsor-img uk-display-inline-block uk-vertical-align-middle text-hidden" href="http://www.goldmund-wyldebeast-wunderliebe.nl" target="_blank">
                        <span>Goldmund</span>
                    </a>
                </div>
            </div>
            <div class="uk-grid uk-grid-small-1-1 uk-grid-width-medium-1-2 uk-text-center">
              <div>
                  <a class="minddistrict-logo sponsor-img uk-display-inline-block uk-vertical-align-middle text-hidden" href="http://www.minddistrict.com" target="_blank">
                      <span>MindDistrict</span>
                  </a>
              </div>
              <div>
                  <a class="yourholding-logo sponsor-img uk-display-inline-block uk-vertical-align-middle text-hidden" href="http://www.yourholding.com" target="_blank">
                      <span>Yourholding</span>
                  </a>
              </div>
            </div>
            <div class="uk-grid uk-grid-small uk-grid-width-1-2 uk-grid-width-medium-1-5 uk-text-center">
              <div>
                  <a class="heroku-logo sponsor-img uk-display-inline-block uk-vertical-align-middle text-hidden" href="https://www.heroku.com/" target="_blank">
                      <span>Heroku</span>
                  </a>
              </div>
              <div>
                  <a class="experty-logo sponsor-img uk-display-inline-block uk-vertical-align-middle text-hidden" href="http://www.experty.com/" target="_blank">
                      <span>Experty</span>
                  </a>
              </div>
              <div>
                  <a class="peperzaken-logo sponsor-img uk-display-inline-block uk-vertical-align-middle text-hidden" href="http://www.peperzaken.nl/" target="_blank">
                      <span>Peperzaken</span>
                  </a>
              </div>
              <div>
                  <a class="at-logo sponsor-img uk-display-inline-block uk-vertical-align-middle text-hidden" href="http://www.academictransfer.com" target="_blank">
                      <span>Academic Transfer</span>
                  </a>
              </div>
              <div>
                  <a class="launchcafe-logo sponsor-img uk-display-inline-block uk-vertical-align-middle text-hidden" href="http://www.launchcafe.nl/" target="_blank">
                      <span>Launchcafe</span>
                  </a>
              </div>
            </div>
        </div>
    </div>
</div>


<div class="sponsor-images-small uk-visible-small">
    <div class="uk-container uk-container-center">
        <div class="uk-grid uk-grid-small uk-visible-small uk-grid-width-1-1" data-uk-margin>
            <div>
                <a class="voys-logo sponsor-img uk-display-inline-block uk-vertical-align-middle text-hidden" href="http://www.voys.nl/" target="_blank">
                    <span>Voys</span>
                </a>
            </div>
            <div>
                <a class="getlogic-logo sponsor-img uk-display-inline-block uk-vertical-align-middle text-hidden" href="http://www.getlogic.nl/" target="_blank">
                    <span>Getlogic</span>
                </a>
            </div>
            <div>
                <a class="paylogic-logo sponsor-img uk-display-inline-block uk-vertical-align-middle text-hidden" href="http://www.paylogic.com" target="_blank">
                    <span>Paylogic</span>
                </a>
            </div>
            <div class="uk-width-2-3">
                <a class="goldmund-logo sponsor-img uk-display-inline-block uk-vertical-align-middle text-hidden" href="http://www.goldmund-wyldebeast-wunderliebe.nl" target="_blank">
                    <span>Goldmund</span>
                </a>
            </div>
            <div class="uk-width-2-3">
                <a class="minddistrict-logo sponsor-img uk-display-inline-block uk-vertical-align-middle text-hidden" href="http://www.minddistrict.com" target="_blank">
                    <span>MindDistrict</span>
                </a>
            </div>
            <div class="uk-width-2-3">
                <a class="yourholding-logo sponsor-img uk-display-inline-block uk-vertical-align-middle text-hidden" href="http://www.yourholding.com" target="_blank">
                    <span>Yourholding</span>
                </a>
            </div>
            <div>
                <a class="heroku-logo sponsor-img uk-display-inline-block uk-vertical-align-middle text-hidden" href="https://www.heroku.com" target="_blank">
                    <span>Heroku</span>
                </a>
            </div>
            <div>
                <a class="experty-logo sponsor-img uk-display-inline-block uk-vertical-align-middle text-hidden" href="http://www.experty.com/" target="_blank">
                    <span>Experty</span>
                </a>
            </div>
            <div >
                <a class="peperzaken-logo sponsor-img uk-display-inline-block uk-vertical-align-middle text-hidden" href="http://www.peperzaken.nl/" target="_blank">
                    <span>Peperzaken</span>
                </a>
            </div>
            <div>
                <a class="at-logo sponsor-img uk-display-inline-block uk-vertical-align-middle text-hidden" href="http://www.academictransfer.com" target="_blank">
                    <span>Academic Transfer</span>
                </a>
            </div>
            <div>
                <a class="launchcafe-logo sponsor-img uk-display-inline-block uk-vertical-align-middle text-hidden" href="http://www.launchcafe.nl/" target="_blank">
                    <span>Launchcafe</span>
                </a>
            </div>
        </div>
    </div>
</div>
