<div id="fullscreen" class="fullscreen" style="background-image: url('/theme/images/logos/top_artwork_{{ PYGRUNN_YEAR }}.png');">
    <div class="sponsor-images uk-hidden-small">
        <div class="uk-container uk-container-center">
            <div class="uk-grid uk-grid-small uk-grid-width-1-2 uk-grid-width-medium-1-4 uk-text-center">
                <div>
                    <a class="getlogic-logo sponsor-img uk-display-inline-block uk-vertical-align-middle text-hidden" href="http://www.getlogic.nl/" target="_blank">
                        <span>Getlogic</span>
                    </a>
                </div>
                <div>
                    <a class="paylogic-logo sponsor-img uk-display-inline-block uk-vertical-align-middle text-hidden" href="http://www.paylogic.com" target="_blank">
                        <span>Paylogic</span>
                    </a>
                </div>
                <div>
                    <a class="spindle-logo sponsor-img uk-display-inline-block uk-vertical-align-middle text-hidden" href="http://www.wearespindle.com/" target="_blank">
                        <span>Spindle</span>
                    </a>
                </div>
                <div>
                    <a class="media2b-logo sponsor-img uk-display-inline-block uk-vertical-align-middle text-hidden" href="http://www.media2b.net" target="_blank">
                        <span>Media2B</span>
                    </a>
                </div>
            </div>
            <div class="uk-grid uk-grid-small uk-grid-width-1-2 uk-grid-width-medium-1-5 uk-text-center">
                <div>
                    <a class="maykin-media-logo sponsor-img uk-display-inline-block uk-vertical-align-middle text-hidden" href="http://www.maykinmedia.nl/en/" target="_blank">
                        <span>Maykin Media</span>
                    </a>
                </div>
                <div>
                    <a class="optiver-logo sponsor-img uk-display-inline-block uk-vertical-align-middle text-hidden" href="http://www.optiver.com/amsterdam/" target="_blank">
                        <span>Optiver</span>
                    </a>
                </div>
                <div>
                    <a class="voys-logo sponsor-img uk-display-inline-block uk-vertical-align-middle text-hidden" href="http://www.voys.nl/" target="_blank">
                        <span >Voys</span>
                    </a>
                </div>
                <div>
                    <a class="crop-r-logo sponsor-img uk-display-inline-block uk-vertical-align-middle text-hidden" href="http://www.crop-r.com/" target="_blank">
                        <span >Crop-R</span>
                    </a>
                </div>
                <div>
                    <a class="resello-logo sponsor-img uk-display-inline-block uk-vertical-align-middle text-hidden" href="http://www.resello.com/" target="_blank">
                        <span >Resello</span>
                    </a>
                </div>
            </div>
            <div class="uk-grid uk-grid-small uk-grid-width-1-2 uk-grid-width-medium-1-2 uk-text-center">
                <div>
                    <a class="academic-transfer-logo sponsor-img uk-display-inline-block uk-vertical-align-middle text-hidden" href="https://www.academictransfer.com/" target="_blank">
                        <span>Academic Transfer</span>
                    </a>
                </div>
                <div>
                    <a class="peperzaken-logo sponsor-img uk-display-inline-block uk-vertical-align-middle text-hidden" href="https://www.peperzaken.nl/" target="_blank">
                        <span>Peperzaken</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
