<div id="tickets" class="block text-contrast bg-dark">
    <div class="uk-container uk-container-center">
        <section class="tickets">
            <div class="uk-text-center"><i class="uk-icon-smile-o uk-icon-large uk-icon-heading uk-icon-heading-dark"></i></div>
            <h1 class="uk-text-center uk-heading-large">Anniversary T-shirts</h1>
            <div id="tickets-info" class="uk-text-center uk-margin-large-top">
                <p>If you want one of these very cool PyGrunn anniversary shirts please contact us via <a href="mailto:info@pygrunn.org">info@pygrunn.org</a>!</p>
                <p>Cost is only €20,00 EUR!</p>
                <p>Available sizes: M, L, XL</p>
            </div>
            <div class="uk-text-center">
                <img class="with-shadow" src="/theme/images/anniversary.png" width="300">
            </div>
        </section>
    </div>
</div>
