<div id="tickets" class="block text-contrast bg-dark">
    <div class="uk-container uk-container-center">
        <section class="tickets">
            <div class="uk-text-center"><i class="uk-icon-ticket uk-icon-large uk-icon-heading uk-icon-heading-dark"></i></div>
            <h1 class="uk-text-center uk-heading-large">Tickets</h1>
            <div id="tickets-info" class="uk-text-center uk-margin-large-top">
              <iframe class="uk-width-small-2-3 uk-container-center" height="760px"
                src="https://frontoffice.paylogic.nl/?event_id=102308&point_of_sale_id=12325">
              </iframe>
            </div>
        </section>
    </div>
</div>
