{% extends "base.html" %}
{% block content %}        
    {% if articles %}
        {% for article in articles %}
                <article>
                    <header>
                        <h1><a href="{{ SITEURL }}/{{ article.url }}" id="page-title">{{ article.title }}</a></h1>
                    </header>
                    {{ article.content }}
                    <footer>
                        Posted
                        {% if article.author %}
                        by {{ article.author }}
                        {% endif %}
                        at <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
          		      		<g:plusone source="pygrunn" href="{{ article.url }}" size="small" annotation="bubbble"/>	
                    </footer>
                </article>
        {% endfor %}
    {% endif %}
{% endblock content %}
{% block news_class %}active{% endblock %}
