<div class="item sponsors">
	<h4>Main sponsors</h4>	
  <ul>
      <li>
        <a href="http://paylogic.eu"><img src="/static/paylogic_logo.jpg" alt="Paylogic" style="width:250px;height:auto"/></a>
      </li>
      <li>
        <a href="http://voys.nl"><img src="/static/voys_logo.jpg" alt="Voys" style="width:250px;height:auto"/></a>
      </li>
      <li>
        <a href="http://www.goldmund-wyldebeast-wunderliebe.com"><img src="/static/gww_logo.png" alt="goldmund-wyldebeast-wunderliebe" style="width:250px;height:auto"/></a>
      </li>
  </ul>
    <h4>Sponsors</h4>   
    <ul>
      <li>
        <a href="https://www.academictransfer.com"><img src="/static/academictransfer_logo.jpg" alt="Academic Transfer" style="width:100px;height:auto" /></a>
      </li>
      <br>
      <li>
        <a href="http://www.minddistrict.nl/"><img src="/static/minddistrict_logo.jpg" alt="Minddistrict" style="width:100px;height:auto"/></a>
      </li>
  </ul>
	<div class="buttons">
		<a href="mailto:berco.beute@paylogic.com">Become a sponsor</a>
	</div>
</div>
