<script src="http://widgets.twimg.com/j/2/widget.js"></script>	
<script type="text/javascript">
    new TWTR.Widget({
        version: 3,
        type: 'search',
        search: 'pygrunn',
        interval: 6000,
        title: 'Excitement is in the air...',
        subject: 'PyGrunn Buzz',
        width: 'auto',
        height: 300,
        theme: {
            shell: {
                background: '#a42d2a',
                color: '#ffffff'
            },
            tweets: {
                background: '#ffffff',
                color: '#808080',
                links: '#df4840'
            }
        },
        features: {
            scrollbar: false,
            loop: true,
            live: true,
            hashtags: true,
            timestamp: true,
            avatars: true,
            toptweets: true,
            behavior: 'default'
        }
    }).render().start();
</script>
