html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, textarea, input, select {margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline;}
table {border-collapse: collapse; border-spacing: 0;}
caption, th, td {text-align: left; font-weight: normal;}
table, td, th {vertical-align: middle;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
a img {border: none;}
ul {list-style: none;}
:focus {outline: 0;}


body {
    background: url(/static/wall.jpg);
    font-family: Verdana, sans-serif;
}

div#page {
    width: 970px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em 1em;
    -webkit-border-radius: 5px;
}

header {
    clear: both;
}

header nav {
    padding-bottom: 3em;
}

header #logo {
    float: left;
    width: 350px;
    height: 100px;
    font-size: 100%;
    padding-right: 1em;
}

#page header {
    font-size: 11px;
}

#page header h2 {
    font-size: 14px;
    margin-bottom: 20px;
}

#page header p {
    padding-left: 1em;
}


h1, h2, h3, h4, article header, article header a, article a {
    font-family: Droid Sans Mono, Courier New;
    color: #6c90a5;
}

article header h1 {
    font-size: 18px;
    margin-bottom: 1em;
}

article a, article header a {
    text-decoration: none;
}

#page nav ul {
    display: inline;
    clear: both;
}

#page nav ul {
    bottom: 0;
    list-style: none;    
}
#page nav li {
    display: inline;
}

#page nav a {      
    margin-top: 0px
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;

    text-indent: -9999px;
    color: #000;
    width: 100px;
    height: 80px;
    display: block;
    float: left;
    
    text-decoration: none;      
    background-image: url(/static/nav.png);
    cursor: pointer;
    cursor: hand;      
}

#page nav li a.news {
    background-position: top 0;      
}

#page nav li a.schedule {
    background-position: -100px top;
}

#page nav li a.venue {
    background-position: -200px top;
    width: 90px;      
}

#page nav li a.discussion {
    background-position: -295px top;
    width: 110px;
}

#page nav li a.tickets {
    background-position: -405px top;
    width: 95px;
}

#page nav li a.rfp {
    background-position: -500px top;
    width: 100px;
}

#page nav li a.news.active,
#page nav li a.news:hover {
    background-position: bottom left;      
}

#page nav li a.schedule.active,
#page nav li a.schedule:hover {
    background-position: -100px bottom;
}

#page nav li a.venue.active,
#page nav li a.venue:hover {
    background-position: -200px bottom;      
}

#page nav li a.discussion.active,
#page nav li a.discussion:hover {
    background-position: -295px bottom;
}

#page nav li a.tickets.active,
#page nav li a.tickets:hover {
    background-position: -405px bottom;
}

#page nav li a.rfp.active,
#page nav li a.rfp:hover {
    background-position: -500px bottom;
}

article footer {
    background-color: #eee;
    padding: 0.5em;
}

article {
    font: 13px Verdana, sans-serif;
    color: #555;
    margin-bottom: 3em;
}

#content {
    display: table;
}

#main_content {
    display: table-cell;
    width: 650px;
    padding-right: 22px;
}
aside {
    display: table-cell;
    width: 300px;
}

aside footer a {
    color: #6c90a5;
    font: 13px Droid Sans Mono, sans-serif;
    text-decoration: none;
    margin: auto;
    text-align: center;
}
header, footer, aside, nav, article {  
    display: block;  
}

a:hover {
    text-decoration: underline
}

aside .sponsors {
    background: #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 10px 1px;
}

aside .jobs ul,
aside .sponsors ul {
    background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 10px;
}

aside .sponsors .buttons {
    padding: 5px 10px;
    overflow: hidden;
}

aside .sponsors .buttons a:hover {
    text-decoration: underline;
}

aside .sponsors .buttons a {
    float: right;
    font-size: 12px;
    text-decoration: none;
}

aside .sponsors img {
    margin: 0 auto;
    width: 150px;
    height: 100px;
    display: block;
}

aside .item,
aside .twtr-widget,
aside .google-plus-activity {
    margin-bottom: 15px;
}

aside .jobs h4,
aside .sponsors h4 {
    font-size: 16px;
    color: #fff;
    margin: 10px 5px;
}

aside .sponsors a {
    color: #7E7E7E;
}

article ul {
    list-style-type: disc;
    margin-left:20px; margin-top:0px; 
}

article p, ul {
    margin-bottom: 1em;
}

article.page h1 {
font-size: 32px;
}

article.page h2 {
font-size: 16px;
}
